{% extends 'base.html' %}
{% block title %}About{% endblock  %}
{% block content %}

<body
style="
background-image: linear-gradient(to bottom right, grey, Black);
color: white;
">

<h1 style="font-size: 50px; padding-left: 25px;"><strong>About Me</strong></h1>
<br>
<p style='padding: 25px;'>
    Hello, I'm <strong style="font-size: 20px;">Matt DeZarn</strong>. I am an Optical Lab Manager turned full stack web developer. I bring the attention to detail and micro precision of creating a pair of corrective glasses to the coding world.
</p>
<img 
    src='https://i.imgur.com/HGyve1j.jpg' 
    style="
        width: 50%; 
        display: block; 
        margin-left: auto; 
        margin-right: auto;
    " 
/>
<p style='padding: 25px;'>
    I am a father and a husband. I currently reside in the Pacific North West, where I was born and raised. But that's not to say I am not well traveled. I have moved around and held quite a few job titles. All in the search for what I was meant to do in this world. I'd like to think I found that niche in the world of coding.
</p>
<img 
    src='https://i.imgur.com/KSBZPbE.jpg' 
    style="
        width: 50%; 
        display: block; 
        margin-left: auto; 
        margin-right: auto;
    " 
/>
<h2 style="font-size: 40px; display: flex; justify-content: center;">Contact Me</h2>
<br>
<div style="display: flex; justify-content: center;">
    <a href="https://www.linkedin.com/in/matt-dezarn/" target="_blank">
        <ion-icon style="margin: 0 20px;" name="logo-linkedin" size="large"></ion-icon>
    </a>

    <a href="https://github.com/m-deez" target="_blank">
        <ion-icon style="margin: 0 20px;" name="logo-github" size="large"></ion-icon>
    </a>

    <a href="mailto:matt.dezarn@gmail.com" target="_blank">
        <ion-icon style="margin: 0 20px;" name="mail-outline" size="large"></ion-icon>
    </a>

    <a href="https://drive.google.com/file/d/1IVyfEPNsKJWDLgxHZLckyL8G31brSvpL/view" target="_blank">
        <ion-icon style="margin: 0 20px;" name="reader-outline" size="large"></ion-icon>
    </a>
</div>
<br>
<script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>

</body>

{% endblock %}