{% extends 'base.html' %}
{% block title %}AS{% endblock  %}
{% block content %}

<body style="
    background-image: linear-gradient(to bottom right, white, grey);
">

    <h1 style="font-size: 50px; padding-left: 25px;"><strong>Alley Scoop</strong></h1>
    <br>
    <p style='padding: 25px;'>

        Myself and a team of two others created Alley Scoop to be the go-to source of sports news. And to be able to share and comment on sports articles. We did a large amount of crowd poling to find out what a sports enthusiast would want to see in a social app like this. None of us knew much about sports. But we wanted to challenge ourselves to code outside our comfort zones.  
            <br><br>
        We created a "like/dislike" function in the form of a score board, made a way to add comments to any post, and implemented a news feed API. Unfortunately the news API we used is only free in developer mode and you won't be able to see/use it when you visit the sight. 
            <br><br>
        TECH: JavaScript | React | HTML | CSS | Heroku | API | Node.js | EJS | Mongoose 
            <br><br>
        <a href="https://vast-brushlands-52387.herokuapp.com/" target="_blank">Live Demo</a>
            <br>
        <a href="https://github.com/m-deez/alley-scoop" target="_blank">GitHub Repo</a>
            <br><br>
        <img src="https://i.imgur.com/73ypVsv.png" style="width: 50%; display: block; margin-left: auto; margin-right: auto; border-radius: 8px; filter: drop-shadow(0px 6px 3px black);" />
    </p>

    <h2 style="font-size: 40px; display: flex; justify-content: center;">Contact Me</h2>
    <br>
    <div style="display: flex; justify-content: center;">
        <a href="https://www.linkedin.com/in/matt-dezarn/" target="_blank">
            <ion-icon style="margin: 0 20px;" name="logo-linkedin" size="large"></ion-icon>
        </a>

        <a href="https://github.com/m-deez" target="_blank">
            <ion-icon style="margin: 0 20px;" name="logo-github" size="large"></ion-icon>
        </a>

        <a href="mailto:matt.dezarn@gmail.com" target="_blank">
            <ion-icon style="margin: 0 20px;" name="mail-outline" size="large"></ion-icon>
        </a>

        <a href="https://drive.google.com/file/d/1IVyfEPNsKJWDLgxHZLckyL8G31brSvpL/view" target="_blank">
            <ion-icon style="margin: 0 20px;" name="reader-outline" size="large"></ion-icon>
        </a>
    </div>
    <br><br>
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>

</body>

{% endblock %}