{% extends 'base.html' %}
{% block title %}AS{% endblock  %}
{% block content %}

<body style="
    background-image: linear-gradient(to bottom right, white, grey);
">

    <h1 style="font-size: 50px;"><strong>Alley Scoop</strong></h1>
    <br>
    <p>
        Welcome to Alley Scoop!
            <br><br>
        App creates a community of people to view and comment on their favorite Sports news of the day. We have created Like/dislike buttons for posts; like a scoreboard, points are in basketball (1,2,3). Continuous flow and scroll for the users' posts.
            <br><br>
            <img src="https://github.com/m-deez/alley-scoop/blob/main/public/scoreboard.png?raw=true" style="width: 85%; display: block; margin-left: auto; margin-right: auto;" />
            <br>
        You can checkout Alley Scoop for yourself <a href="https://vast-brushlands-52387.herokuapp.com/" target="_blank">here</a>.
            <br>
        To use the app, navigate to the deployed website and register a unique user profile. You will automatically be redirected to the homepage where you can view the news feed and forum side by side. Users may log out at anytime and your information is stored for up to 24 hours before you need to log in again.
            <br><br>
        Here is a link to the Git Hub page for <a href="https://github.com/m-deez/alley-scoop" target="_blank"0>Alley Scoop</a>.
    </p>
    <br>
    <img src="" style="width: 85%; display: block; margin-left: auto; margin-right: auto;" />
    <img src="" style="width: 49%;" />

</body>

{% endblock %}