{% extends 'base.html' %}
{% block title %}BJA{% endblock  %}
{% block content %}

<body style="
    background-image: linear-gradient(to bottom right, white, grey);
">

    <h1 style="font-size: 50px; padding-left: 25px;"><strong>Black Jack Attack</strong></h1>
    <br>
    <p style='padding: 25px;'>
        This game plays with normal Black Jack rules with a little twist. You aren't betting money, you are battling it out with a set number of hit points.
            <br><br>
        If you aren't sure how Black Jack works:
            <br><br>
        The game starts by you clicking on the deck, the game will draw 2 cards and add their values together. The values of cards are the number thats on the card. Jack, Queen, and King are all worth 5. An Ace is worth 11 points if the other cards in you hand total 5 or less. And an Ace is worth 1 point if the other cards in you hand total 11 or greater. If you hand total ever goes above 21 you bust, and your hand total becomes ZERO!
            <br><br>
        After the first 2 initial draws you may "hit" any amount of additional times. You may choose to "stand" at any time, which means you are done hitting and the Dealer may now draw cards.
            <br><br>
        When you are both done drawing cards you compare hand values. Who ever has the highest hand wins that round. This is where the twist comes in, the player with the lower score will take damage equal to the difference in hand values.
            <br><br>
        For example, if you have a hand value of 20 and the Dealer has a hand value of 18, the Dealer will take 2 damage.
            <br><br>
        Both the player and Dealer start at 50 hp and the first to 0 hp loses the game.
            <br><br>
        TECH: JavaScript | HTML | CSS | jQuery | API
            <br><br>
        <a href="https://github.com/m-deez/Black-Jack-Attack" target="_blank">GitHub Repo</a>
    </p>
    <img src="https://i.imgur.com/821aPF3.png" style="width: 49%; border-radius: 8px; filter: drop-shadow(0px 6px 3px black);" />
    <img src="https://i.imgur.com/1edinFM.png" style="width: 49%; border-radius: 8px; filter: drop-shadow(0px 6px 3px black);" />
    <br>
    <h2 style="font-size: 40px; display: flex; justify-content: center;">Contact Me</h2>
<br>
<div style="display: flex; justify-content: center;">
    <a href="https://www.linkedin.com/in/matt-dezarn/" target="_blank">
        <ion-icon style="margin: 0 20px;" name="logo-linkedin" size="large"></ion-icon>
    </a>

    <a href="https://github.com/m-deez" target="_blank">
        <ion-icon style="margin: 0 20px;" name="logo-github" size="large"></ion-icon>
    </a>

    <a href="mailto:matt.dezarn@gmail.com" target="_blank">
        <ion-icon style="margin: 0 20px;" name="mail-outline" size="large"></ion-icon>
    </a>

    <a href="https://drive.google.com/file/d/1IVyfEPNsKJWDLgxHZLckyL8G31brSvpL/view" target="_blank">
        <ion-icon style="margin: 0 20px;" name="reader-outline" size="large"></ion-icon>
    </a>
</div>
<br>
<script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>

</body>

{% endblock %}