{% extends 'base.html' %}
{% block title %}PoN{% endblock  %}
{% block content %}

<body style="
    background-image: linear-gradient(to bottom right, white, grey);
">

    <h1 style="font-size: 50px;"><strong>Plenty of Nerds</strong></h1>
    <br>
    <p>
        Filler 
            <br><br>
        Filler
            <br><br>
        You can checkout Plenty of Nerds for yourself <a href="https://pacific-sierra-18311.herokuapp.com/">here</a>.
            <br><br>
        Here is a link to the Git Hub page for <a href="https://github.com/m-deez/plenty-of-nerds">Plenty of Nerds</a>.
    </p>
    <br>
    <img src="" style="width: 85%; display: block; margin-left: auto; margin-right: auto;" />
    <img src="" style="width: 49%;" />

</body>

{% endblock %}