{% extends 'base.html' %}
{% block title %}Projects{% endblock  %}
{% block content %}

<body
style="
background-image: linear-gradient(to bottom right, grey, Black);
color: white;
">

    <h1 style="font-size: 50px;"><strong>My Projects</strong></h1>

    <a href="bja/">Black Jack Attack</a>
        <br>
    <a href="wc/">Wondrous Creations</a>
        <br>
    <a href="as/">Alley Scoop</a>
        <br>
    <a href="pw/">Project Wayfarer</a>
        <br>
    <a href="pon/">Plenty of Nerds</a>

</body>

{% endblock %}