{% extends 'base.html' %} {% block title %}Projects{% endblock %} {% block content %}

<body
  style="
    background-image: linear-gradient(to bottom right, grey, Black);
    color: white;
  "
>
  <h1 style="font-size: 50px; padding-left: 20px">
    <strong style="color: white">My Projects</strong>
  </h1>
  <br />
  <div
    style="
    padding-left: 20px;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;
    "
  >
    <!-------------------------------------------------------->
    <div style="width: 35%">
      <a href="bja/" style="color: white; font-size: 25px">
        <p>Black Jack Attack</p>
        <img src="https://i.imgur.com/JfxzXri.png" style="border-radius: 8px" />
      </a>
    </div>
    <br />
    <!-------------------------------------------------------->
    <div style="width: 35%">
      <a href="wc/" style="color: white; font-size: 25px">
        <p>Wondrous Creations</p>
        <img src="https://i.imgur.com/JbEqHDF.png" style="border-radius: 8px" />
      </a>
    </div>
    <br />
    <!-------------------------------------------------------->
    <div style="width: 35%">
      <a href="as/" style="color: white; font-size: 25px">
        <p>Alley Scoop</p>
        <img src="https://i.imgur.com/eft6PBY.png" style="border-radius: 8px" />
      </a>
    </div>
    <br />
    <!-------------------------------------------------------->
    <div style="width: 35%">
      <a href="pw/" style="color: white; font-size: 25px">
        <p>Project Wayfarer</p>
        <img src="https://i.imgur.com/0eGLHut.png" style="border-radius: 8px" />
      </a>
    </div>
    <br />
    <!-------------------------------------------------------->
    <div style="width: 35%">
      <a href="pon/" style="color: white; font-size: 25px">
        <p>Plenty of Nerds</p>
        <img src="https://i.imgur.com/s0MfWVg.png" style="border-radius: 8px" />
      </a>
    </div>
    <br />
  </div>
</body>

{% endblock %}
