{% extends 'base.html' %}
{% block title %}WC{% endblock  %}
{% block content %}

<body style="
    background-image: linear-gradient(to bottom right, white, grey);
">

    <h1 style="font-size: 50px; padding-left: 25px;"><strong>Wondrous Creations</strong></h1>
    <br>
    <p style='padding: 25px;'>
        Wondrous Creations: A D&D item creation app created by Matt DeZarn and Brian Kasten. 
            <br><br>
        We wanted to make an app for Dungeons & Dragons, 5th Edition, that would streamline the process of creating a new magic item, weapon, or armor and allow players to converse with one another about the items they made.
            <br><br>
                <img src="https://i.imgur.com/JI74V1o.png" style="width: 49%;" />
                <img src="https://i.imgur.com/Y9UuB4M.png" style="width: 49%;" />
            <br><br>
        This database is being stored on the Mongo DB cloud, better known as Atlas.
            <br>
        This was my second project and my first time programming with another person.
            <br><br>
        TECH: JavaScript | EJS | HTML | CSS
            <br><br>
        <a href="https://github.com/m-deez/wondrous-creations" target="_blank">GitHub Repo</a>
            <br><br>
                <img src="https://i.imgur.com/E05NjnT.png" style="width: 85%; display: block; margin-left: auto; margin-right: auto;"   />
                    <br>
                <img src="https://i.imgur.com/aMMbLiB.png" style="width: 85%; display: block; margin-left: auto; margin-right: auto;"   />
            <br>
    </p>

</body>

{% endblock %}