{% extends 'base.html' %}
{% block title %}WC{% endblock  %}
{% block content %}

<body style="
    background-image: linear-gradient(to bottom right, white, grey);
">

    <h1 style="font-size: 50px; padding-left: 25px;"><strong>Wondrous Creations</strong></h1>
    <br>
    <p style='padding: 25px;'>
        Wondrous Creations: A D&D item creation app created by Matt DeZarn and Brian Kasten. 
            <br><br>
        We wanted to make an app for Dungeons & Dragons, 5th Edition, that would streamline the process of creating a new magic item, weapon, or armor and allow players to converse with one another about the items they made.
            <br><br>
                <img src="https://i.imgur.com/JI74V1o.png" style="width: 49%; border-radius: 10px;" />
                <img src="https://i.imgur.com/Y9UuB4M.png" style="width: 49%; border-radius: 10px;" />
            <br><br>
        This database is being stored on the Mongo DB cloud, better known as Atlas.
            <br>
        This was my second project and my first time programming with another person.
            <br><br>
        TECH: JavaScript | EJS | HTML | CSS
            <br><br>
        <a href="https://github.com/m-deez/wondrous-creations" target="_blank">GitHub Repo</a>
            <br><br>
                <img src="https://i.imgur.com/E05NjnT.png" style="width: 85%; display: block; margin-left: auto; margin-right: auto; border-radius: 10px;" />
                    <br>
                <img src="https://i.imgur.com/aMMbLiB.png" style="width: 85%; display: block; margin-left: auto; margin-right: auto; border-radius: 10px;" />
            <br>
    </p>
    <h2 style="font-size: 40px; display: flex; justify-content: center;">Contact Me</h2>
    <br>
    <div style="display: flex; justify-content: center;">
        <a href="https://www.linkedin.com/in/matt-dezarn/" target="_blank">
            <ion-icon style="margin: 0 20px;" name="logo-linkedin" size="large"></ion-icon>
        </a>

        <a href="https://github.com/m-deez" target="_blank">
            <ion-icon style="margin: 0 20px;" name="logo-github" size="large"></ion-icon>
        </a>

        <a href="mailto:matt.dezarn@gmail.com" target="_blank">
            <ion-icon style="margin: 0 20px;" name="mail-outline" size="large"></ion-icon>
        </a>

        <a href="https://drive.google.com/file/d/1IVyfEPNsKJWDLgxHZLckyL8G31brSvpL/view" target="_blank">
            <ion-icon style="margin: 0 20px;" name="reader-outline" size="large"></ion-icon>
        </a>
    </div>
    <br>
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>

</body>

{% endblock %}